

body{
  font-family: 'Lucida Sans';

}

h1, h2{
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 2.5em;
}




.cabeza-logo {
  background: url(../res/img/logo.png) no-repeat;
  font-size: 0;
}
h1 {
  font-size: 1.5em;
  width: 95px;
  height: 55px;
  margin: 0;
  font-family: "manga-bold";
}
.text-Cont {
  font-size: 0.7em;
  line-height: 2em;
}
.tex-Cont{
  font-size: 0.8em;
  line-height: 2em;
}

colorNav{
  color:white !important;
}


.search-input {
  width: 100%;
  height: 55px;
  padding-right: 60px;
}

#searchAgain{

  background-color:#343a40 !important;
  color:white;
}

img{
  width: 100%;

}

.offline-status {
  display: none;
}

.offline .offline-status {
  display: block;
  display: inline;
  background-color: yellow;

}

.offline .online-status {
  display: block;
}

.alert-danger{
  display: inline;
}
#anime{
  list-style: none;
}

.formCont{
  background-color: yellow;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px;
}

.form-control{

  
  display: block;
  background: none;
  color: black;
  font-size: 15px;
  padding: 5px;
  resize: none;
  border-radius: 0.9rem;
  border-radius: 0.9rem;
  background-color: white;
  border: 1px solid black;
 
}

.sinopsis{
  font-size: 1em;
  line-height: 2em;
}

.titulo{
  font-size: 1.8em;
  margin-bottom: 1em;
}

.score{
  font-weight: bold;
  font-size: 1.2em;
}
.btn-enviar{
text-decoration: none;
    border-radius: 37px;
    color: #fff;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 1% 10%;
    margin-bottom: 27px;
    background: linear-gradient( to right, rgb(47, 79, 79) 0%, rgb(240, 255, 255) 100% );
    box-shadow: 5px 5px 15px 0px rgb(46 61 73 / 20%);
    background-size: 330% 100%;
    transition: all 0.4s ease-in-out;}

    
.liApi{
  border: 1px solid #343a40;
  background-color: #dcff07;

}
    